<div id="banner">
	<div class="outline"></div>
	<img class="bg" src="./images/bg.jpg" alt="" inline>
	<div class="frame frame1">
		<img class="retina" src="./images/logo.png" alt="" inline>
		<img class="retina t1a" src="./images/t1a.png" alt="" inline>
		<img class="retina t1b" src="./images/t1b.png" alt="" inline>
		
		<img class="player_defend" src="./images/player_defend.png" alt="" inline>
		<img class="player_run" src="./images/player_run.png" alt="" inline>
		<img class="player_defend" src="./images/player_defend_arm.png" alt="" inline>
		
		
	</div>
	<div class="frame frame2">
		<img class="retina t2" src="./images/t2.png" alt="" inline>
		<img class="retina cta" src="./images/cta.png" alt="" inline>
		<img class="retina cta2" src="./images/cta.png" alt="" inline>
		<img class="illust" src="./images/illust.png" alt="" inline>
		<img class="retina phone" src="./images/phone.png" alt="" inline>
		<img class="retina legal" src="./images/legal.png" alt="" inline>
		<% include ../_common/templates/legal %>
	</div>
</div>