

@import '../../../_common/styles/common.scss';



.frame1 {
	// opacity: 1;
}



#banner{
	font-size: 20px;
	color: #333;
	width: 300px;
	height: 600px;
}

#legalBtn{
	// opacity:1;
	@include pos(4, 560);
}

.illust{
	transform-origin: 50% 100%;
	// transform: scale(1);
}